---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from "astro:content";

const fakulteti = (await getCollection('donacije')).filter(fakultet => typeof fakultet.data.koordinate !== 'undefined');
---

<style>
    arcgis-map {
        height: clamp(50vh, 700px, 60vh);
        display: block;
        overflow: hidden;
        margin-bottom: 5rem;
        border: 2px solid black;
        border-radius: 2rem;
        touch-action: none;
    }

    :global(arcgis-map ::after) {
        outline: none !important;
    }

    arcgis-map:has(:focus) {
        border-color: var(--accent);
    }

    article {
        border: 2px solid black;
        border-radius: 1rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
    }

    .pill {
        border: 1px solid black;
        padding: 0.2rem 0.6rem;
        border-radius: 100000px;
    }

    .hitno {
        border-color: var(--accent);
        color: var(--accent);
    }

    .nebitno {
        color: gray;
        border-color: gray;
    }

    search [type="text"] {
        background-color: #f0f0f0;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    search button {
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--accent);
        color: white;
        font-weight: bold;
    }

    hr {
        margin-bottom: 2rem;
    }
</style>

<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <title>Donacije - Studentske Blokade</title>
    <style>
        @import "https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css";
        @import "https://js.arcgis.com/calcite-components/2.13.2/calcite.css";
    </style>
</head>
<body data-fakulteti={JSON.stringify(fakulteti)}>
    <Header/>
    <main>
        <h1>Donacije!</h1>
        <p>Ukoliko želite da pomognete našoj borbi, ispod se nalazi spisak univerziteta i njihovih institucija u blokadi, te
            je uz svaku takođe i prikačena lista namirnica koje su im trenutno potrebne.</p>
        <arcgis-map />
        <!--<section>-->
        <!--    <h2>Lista fakulteta</h2>-->
        <!--    <search>-->
        <!--        <label for="pretraga">Pretraga</label>-->
        <!--        <input id="pretraga" type="text"/>-->
        <!--        <button>Pretraži</button>-->
        <!--    </search>-->
        <!--    <hr>-->
        <!--    {fakulteti.map(async fakultet => {-->
        <!--        if (typeof fakultet.data.namirnice === "undefined") { return null; }-->

        <!--        const visok = fakultet.data.namirnice.filter(namirnica => namirnica.prioritet === "visok");-->
        <!--        const srednji = fakultet.data.namirnice.filter(namirnica => namirnica.prioritet === "srednji");-->
        <!--        const nizak = fakultet.data.namirnice.filter(namirnica => namirnica.prioritet === "nizak");-->
        <!--        return (-->
        <!--            <article>-->
        <!--                <h3>{fakultet.data.fakultet}</h3>-->
        <!--                {visok.length > 0 && <h4>Visok prioritet</h4>-->
        <!--                    <ul>-->
        <!--                        {visok.map(potrebsitna => <li>{potrebsitna.naziv}</li>)}-->
        <!--                    </ul>-->
        <!--                }-->

        <!--                {srednji.length > 0 && <h4>Srednji prioritet</h4>-->
        <!--                    <ul>-->
        <!--                        {srednji.map(potrebsitna => <li>{potrebsitna.naziv}</li>)}-->
        <!--                    </ul>-->
        <!--                }-->

        <!--                {nizak.length > 0 && <h4>Nizak prioritet</h4>-->
        <!--                    <ul>-->
        <!--                        {nizak.map(potrebsitna => <li>{potrebsitna.naziv}</li>)}-->
        <!--                    </ul>-->
        <!--                }-->
        <!--            </article>-->
        <!--        )-->
        <!--    })}-->
        <!--</section>-->
    </main>
    <Footer/>
</body>
</html>

<script>
    import "@arcgis/map-components/dist/components/arcgis-map";
    import GraphicsLayer from "@arcgis/core/layers/GraphicsLayer";
    import Point from "@arcgis/core/geometry/Point";
    import SimpleMarkerSymbol from "@arcgis/core/symbols/SimpleMarkerSymbol";
    import Graphic from "@arcgis/core/Graphic";

    const centar = [20.457273, 44.787197]
    const koordinate = new Map()
    koordinate.set("MATF", [20.458708804167117, 44.819930990382986]);
    koordinate.set("ETF", [20.476434674090246, 44.80580041357579]);
    koordinate.set("Farmaceutski Fakultet", [20.49493490008412, 44.74748077309478]);
    koordinate.set("Poljoprivredni Fakultet", [20.412373779366455, 44.840525329097815]);
    koordinate.set("Rektorat UB", [20.45758667942569, 44.81846092246269])


    const response = await fetch("/.netlify/functions/blokadnedonacije");
    const blokadnedonacije = await response.text();

    const parser = new DOMParser();
    const htmlDoc = parser.parseFromString(blokadnedonacije, 'text/html');

    const fakulteti = [...htmlDoc.querySelectorAll(".card.m-3")].map(el => {
        return {
            data: {
                fakultet: el.querySelector("h5")?.innerText,
                namirnice: [...el.querySelectorAll("li")].map(el => {
                    return {
                        namirnica: el.querySelector("span")?.innerText,
                        vaznsost: [...el.querySelectorAll("span.badge.rounded-pill")].map(el => el.innerText),
                    }
                }),
                koordinate: koordinate.get(el.querySelector("h5")?.innerText),
            }
        }
    }).filter(fakultet => typeof fakultet.data.koordinate !== 'undefined');

    // const fakulteti = JSON.parse(document.body.dataset.fakulteti);

    const arcgisMap = document.querySelector("arcgis-map");
    arcgisMap?.addEventListener("arcgisViewReadyChange", () => {
        arcgisMap.view.goTo({
            center: [20.457273, 44.787197], zoom: 12,
        }, {
            duration: 0,
        })

        const gl = new GraphicsLayer();
        for (const fakultet of fakulteti) {
            const point = new Point({
                longitude: fakultet.data.koordinate[0], latitude: fakultet.data.koordinate[1]
            });

            const marker = new SimpleMarkerSymbol({
                color: "red", style: "path", size: 10
            });

            const graphic = new Graphic({
                symbol: marker, geometry: point, popupTemplate: {
                    title: fakultet.data.fakultet,
                    content: `<ul>${fakultet.data.namirnice.map(el => "<li>" + el.vaznsost.join() + " - " + el.namirnica + "</li>").join("")}</ul>`
                }
            });

            gl.add(graphic);
        }

        arcgisMap.addLayer(gl);
    });
</script>
