---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import indeks from '../assets/images/indeks.jpg'
import megafon from '../assets/images/megafon.jpg'
import zastava from '../assets/images/zastava.jpg'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="title">
			<h1>Studentske blokade</h1>
		</div>
		<main>
			<section>
				<p>
					Zbog pada nadstrešnice na Železničkoj stanici u Novom Sadu 1.11.2024. kojim je nastradalo 15 ljudi inicirao je spontana okupljanja, u vidu 15 minuta ćutanja za žrtve. Građani se i dalje okupljaju na različitim mestima, uvek u isto vreme, u 11:52.
				</p>

				<p>
					U blokadama je trenutno oko 60 fakulteta i viših škola širom Srbije.
				</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium id dolorum perspiciatis odio adipisci, obcaecati ea veniam ipsum exercitationem commodi fuga libero rerum molestiae voluptate voluptatum praesentium vero consequatur veritatis aliquam magnam optio eaque nam repellendus? Aperiam ab saepe dolorem tempora. Mollitia quo, dolorum facere magnam doloribus aliquid sit eveniet!</p>
			</section>

			<div class="collage">
				<Image class="megafon" src={megafon} alt="" />
				<Image class="indeks" src={indeks} alt="" />
				<Image class="zastava" src={zastava} alt="" />
			</div>

			<section>	
				<h2>Zahtevi</h2>
				<ul>
					<li>Objava celokupne dokumentacije koja se tiče rekonstruisanja Železničke stanice u Novom Sadu koja je trenutno nedostupna javnosti.</li>
					<li>Zahtevamo potvrdu nadležnih organa o identitetu svih lica za koja postoji osnovana sumnja da su fizički napala studente i profesore, kao i pokretanje krivičnih postupaka protiv njih. Takođe zahtevamo razrešenje pomenutih lica ukoliko se pokaže da su ista javni funkcioneri.</li>
					<li>Odbacivanje krivičnih prijava protiv uhapšenih i privedenih studenata na protestima, kao i obustavu već pokrenutih krivičnih postupaka.</li>
					<li>Povećanje budžeta za visoko obrazovanje u iznosu od 20%.</li>
				</ul>
			</section>

			<section>
				<h2>Neki naslov</h2>
				<div class="tekst-slika">
					<div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci natus deleniti laboriosam dolores ex ut commodi iure voluptatem! Fuga, quia, fugit quam expedita debitis vel vero inventore incidunt distinctio, dignissimos eum libero illo modi ea dolor aut doloribus assumenda sapiente mollitia commodi hic. Impedit assumenda deserunt, harum perspiciatis nemo placeat, accusantium unde voluptas, facere illum a aperiam voluptatibus iusto. Tempora iste, illum vel accusantium fugit voluptatem veritatis harum! Quas omnis voluptas voluptatum debitis veritatis quod obcaecati, a quos hic explicabo mollitia, expedita facilis corporis sapiente quo exercitationem aliquam? Eveniet ab dolores optio rem laborum esse magnam. Ipsum incidunt optio repellendus.
						</p>
						<p>
							Dolores minus animi mollitia sed quo tempore illum corporis excepturi quisquam voluptatibus accusamus, ab fuga, vitae, ullam et. Alias a culpa ab, quibusdam ipsum sunt corporis corrupti aliquam. Repellendus dicta ratione illum ex, cum molestiae optio atque natus, laboriosam ad eius? Tempore, nihil consequatur placeat natus ducimus ut dolor magnam accusamus. Quos sequi in dolore ex minus recusandae. Corrupti corporis culpa quis voluptas necessitatibus inventore harum sequi expedita, quae accusamus non autem eaque tempore unde libero vitae natus veniam! Optio qui, veniam possimus culpa itaque ullam maxime unde aliquid provident soluta doloribus ducimus eos dolor obcaecati quibusdam fugiat perspiciatis velit!
						</p>
					</div>
					<Image src={megafon} alt="" />
				</div>
			</section>

			<section>
				<h2>Neki naslov</h2>
				<div class="tekst-slika">
					<Image src={megafon} alt="" />
					<div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci natus deleniti laboriosam dolores ex ut commodi iure voluptatem! Fuga, quia, fugit quam expedita debitis vel vero inventore incidunt distinctio, dignissimos eum libero illo modi ea dolor aut doloribus assumenda sapiente mollitia commodi hic. Impedit assumenda deserunt, harum perspiciatis nemo placeat, accusantium unde voluptas, facere illum a aperiam voluptatibus iusto. Tempora iste, illum vel accusantium fugit voluptatem veritatis harum! Quas omnis voluptas voluptatum debitis veritatis quod obcaecati, a quos hic explicabo mollitia, expedita facilis corporis sapiente quo exercitationem aliquam? Eveniet ab dolores optio rem laborum esse magnam. Ipsum incidunt optio repellendus.
						</p>
						<p>
							Dolores minus animi mollitia sed quo tempore illum corporis excepturi quisquam voluptatibus accusamus, ab fuga, vitae, ullam et. Alias a culpa ab, quibusdam ipsum sunt corporis corrupti aliquam. Repellendus dicta ratione illum ex, cum molestiae optio atque natus, laboriosam ad eius? Tempore, nihil consequatur placeat natus ducimus ut dolor magnam accusamus. Quos sequi in dolore ex minus recusandae. Corrupti corporis culpa quis voluptas necessitatibus inventore harum sequi expedita, quae accusamus non autem eaque tempore unde libero vitae natus veniam! Optio qui, veniam possimus culpa itaque ullam maxime unde aliquid provident soluta doloribus ducimus eos dolor obcaecati quibusdam fugiat perspiciatis velit!
						</p>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>


<style>
	.title {
		position: relative;
		background-image: url("/images/slavija.jpg");
		background-size: cover;
		background-position: center;
		height: 30rem;

		display: flex;
		align-items: center;
	}

	.title::before {
		content: "";
		position: absolute;
		background-color: rgba(0, 0, 0, 0.4);
		inset: 0;
		z-index: 0;
	}

	.title h1 {
		margin-inline: auto;
		padding-inline: 2rem;
		color: white;
		z-index: 1;
		font-size: 5rem;
		text-align: center;
	}

	@media (max-width: 720px) {
		.title h1 {
			font-size: 15vw;
		}
	}

	section:not(:first-of-type) {
		margin-top: 5rem;
	}

	.collage {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
			"megafon megafon indeks"
			"megafon megafon indeks"
			"zastava zastava zastava";
		gap: 1rem;
	}


	@media (max-width: 720px) {
		.collage {
			grid-template-columns: 1fr;
			grid-template-areas: 
				"megafon"
				"zastava"
				"indeks";
		}

		.collage img {
			max-height: 20vh;
		}
	}

	img {
		width: 100%;
		object-fit: cover;
	}

	.collage img {
		height: 100%;
	}

	.megafon { grid-area: megafon; }
	.indeks { grid-area: indeks; }

	.zastava {
		grid-area: zastava;
		object-position: bottom;
		max-height: 20vh;
	}

	.tekst-slika {
		display: flex;
		gap: 2rem;
		align-items: stretch;
	}

	.tekst-slika div {
		flex: 2;
	}

	.tekst-slika img {
		flex: 1;
	}


	@media (max-width: 1000px) {
		.tekst-slika {
			flex-direction: column;
		}
	}

	p {
		text-align: justify;
	}

</style>